---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Monkey Type">
  <main>
    <h1>Monkey Type</h1>

    <p class="parrafo"></p>
    <input class="input" />
  </main>
</Layout>

<style>
  h1 {
    color: light-dark(red, green);
  }
</style>
