---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="MonkeyType">
  <main>
    <section id="game">
      <h1>Monkey Type</h1>
      <time id="time"></time>
      <p id="paragraph"></p>
      <input id="input" autofocus autocomplete="off" />
    </section>

    <section id="results">
      <div>
        <h2>WPM</h2>
        <h3 class="wpm"></h3>
      </div>

      <div>
        <h2>Currancy</h2>
        <h3 class="currancy"></h3>
      </div>
    </section>
  </main>
</Layout>

<script src="@/utils/index.js"></script>

<style>
  main {
    max-width: 800px;
    margin: auto;
  }

  #game {
    display: grid;
    place-content: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
  }

  h1 {
    color: var(--color-1);
  }

  time {
    color: var(--color-1);
  }

  p {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    font-size: 20px;

    word {
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s ease-in-out;

      &.marked {
        border-color: red;
      }
    }

    letter {
      position: relative;
      display: inline-block;
      color: gray;

      /* TODO: AJUSTAR TAMAÑO DE CURSOR Y TAMAÑO ENTRE LETRAS */
      &.active::before {
        content: "|";
        color: red;
        position: absolute;
        left: -60%;
        animation: 1s parpadeo infinite ease-in-out;
      }

      &.is-last::before {
        left: 60%;
      }

      &.correct {
        color: green;
      }

      &.incorrect {
        color: red;
      }
    }
  }

  @keyframes parpadeo {
    25% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  #results {
    display: none;
    place-content: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;

    h2 {
      margin: 0;
      color: gray;
    }

    h3 {
      margin: 0;
      font-size: 40px;
      color: yellow;
    }
  }
</style>
