---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="MonkeyType">
  <main>
    <h1>Monkey Type</h1>
    <time id="tiempo"></time>
    <p id="parrafo"></p>
    <input id="input" autofocus autocomplete="off" />
  </main>
</Layout>

<script src="@/utils/index.js"></script>

<style>
  main {
    max-width: 800px;
    padding: 10px;
    margin: auto;
  }

  h1 {
    color: var(--color-1);
  }

  time {
    color: var(--color-1);
  }

  p {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    font-size: 20px;

    x-word {
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s ease-in-out;

      &.marked {
        border-color: red;
      }
    }

    x-letter {
      position: relative;
      display: inline-block;
      color: gray;

      /* TODO: AJUSTAR TAMAÑO DE CURSOR Y TAMAÑO ENTRE LETRAS */
      &.active::before {
        content: "|";
        color: red;
        position: absolute;
        left: -60%;
        animation: 1s parpadeo infinite ease-in-out;
      }

      &.is-last::before {
        left: 60%;
      }

      &.correct {
        color: green;
      }

      &.incorrect {
        color: red;
      }
    }
  }

  @keyframes parpadeo {
    25% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
</style>
