---
import Game from "@/components/Game.astro";
import Navbar from "@/components/Navbar.astro";
import Results from "@/components/Results.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="MonkeyType">
  <Navbar />
  <main>
    <Game />
    <Results />
  </main>
</Layout>

<script src="@/utils/index.js"></script>

<style>
  main {
    max-width: 800px;
    margin: auto;
  }
</style>
