<section id="game">
  <!-- TODO: Poner opciones para poder customizar partida, tiempo, numero de palabras, etc -->
  <article id="modifiers">
    <ul>
      <li>Tiempo</li>
      <li>Palabras</li>
    </ul>
    <ul class="time">
      <li>15</li>
      <li class="active">30</li>
      <li>60</li>
      <li>120</li>
    </ul>
    <ul class="words">
      <li>10</li>
      <li>25</li>
      <li>50</li>
      <li>100</li>
    </ul>
  </article>

  <div class="counters">
    <time id="time"></time>
    <p id="word"></p>
  </div>

  <p id="paragraph"></p>
  <input id="input" autofocus autocomplete="off" />
</section>

<style>
  #game {
    display: grid;
    place-content: center;
    min-height: 90vh;
    padding: 20px;

    article {
      display: flex;
      position: absolute;
      justify-self: center;
      gap: 50px;
      background-color: #3f3d3b;
      padding: 10px;
      margin: auto auto 100px auto;
      border-radius: 10px;

      ul {
        display: flex;
        list-style: none;
        gap: 5px;
        padding: 0;
        margin: 0;
        color: var(--text-shadow);

        li {
          cursor: pointer;
          padding: 10px;

          &.active {
            color: var(--color-primary);
          }
        }
      }
    }

    .counters {
      text-align: center;
      align-self: end;

      time,
      p {
        display: inline;
        font-size: 25px;
        color: var(--color-primary);
      }

      p {
        display: none;
      }
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      height: 90px;
      overflow: hidden;
      gap: 5px 10px;
      font-size: 20px;
    }

    word {
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease-in-out;
      height: min-content;

      &.marked {
        border-color: var(--text-error);
      }
    }

    letter {
      position: relative;
      display: inline-block;
      color: var(--text-shadow);

      &.active::before {
        content: "|";
        color: var(--color-primary);
        position: absolute;
        left: -50%;
        animation: 1s parpadeo infinite ease-in-out;
      }

      &.is-last::before {
        left: 50%;
      }

      &.correct {
        color: var(--text-correct);
      }

      &.incorrect {
        color: var(--text-error);
      }
    }

    input {
      /* opacity: 0; */
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  @keyframes parpadeo {
    25% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }
  }
</style>
