---
import IconGitHub from "./Icons/IconGitHub.astro";
import IconLinkedIn from "./Icons/IconLinkedIn.astro";
---

<nav>
  <h1>Monkey Type</h1>

  <ul>
    <li>
      <a
        href="https://github.com/SoyRandy708/monkeytype"
        title="Ir a GitHub"
        target="_blank"
        aria-label="Ir a GitHub"
      >
        <IconGitHub width="44" height="44" />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/randy-ochoa/"
        title="Ir a LinkedIn"
        target="_blank"
        aria-label="Ir a LinkedIn"
      >
        <IconLinkedIn width="40" height="40" />
      </a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    height: 10vh;
    padding: 20px;
    margin: auto;
    border-bottom: 1px var(--text-shadow) solid;

    h1 {
      font-size: 25px;
      text-align: center;
      line-height: 0.9;
      margin: 0;
      color: var(--color-primary);
    }

    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0;
      list-style: none;

      a {
        display: inline-block;
        transition: 0.2s ease transform;

        &:hover {
          transform: scale(1.2);
        }

        &:link {
          color: initial;
        }

        &:visited {
          color: initial;
        }
      }
    }
  }
</style>
