---
import ButtonReload from "./ButtonReload.astro";
---

<section id="results">
  <div>
    <h2>WPM</h2>
    <h3 class="wpm"></h3>
  </div>

  <div>
    <h2>Currancy</h2>
    <h3 class="currancy"></h3>
  </div>

  <ButtonReload />
</section>

<style>
  #results {
    display: none;
    place-content: center;
    gap: 20px;
    min-height: 90vh;
    padding: 20px;

    h2 {
      margin: 0;
      color: var(--text-shadow);
    }

    h3 {
      margin: 0;
      font-size: 40px;
      color: var(--color-primary);
    }
  }
</style>
