---
import ButtonReload from "./ButtonReload.astro";
---

<section id="results">
  <canvas id="chart"></canvas>

  <article class="information">
    <div>
      <h2>WPM</h2>
      <p class="tooltip">Palabras Por Minuto</p>
      <h3 class="wpm"></h3>
    </div>

    <div>
      <h2>Precisión</h2>
      <p class="tooltip">Precisión</p>
      <h3 class="currancy"></h3>
    </div>

    <div>
      <h2>Caracteres</h2>
      <p class="tooltip">Correctos, Incorrectos</p>
      <h3 class="characters"></h3>
    </div>

    <div>
      <h2>Tiempo</h2>
      <p class="tooltip">Tiempo</p>
      <h3 class="time"></h3>
    </div>

    <ButtonReload />
  </article>
</section>

<style>
  #results {
    display: none;
    place-content: center;
    gap: 20px;
    min-height: 90dvh;
    padding: 20px;

    .information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media (width < 500px) {
        justify-content: center;
        gap: 20px 50px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover .tooltip {
          transform: translateY(-50px);
          opacity: 1;
        }
      }

      h2 {
        font-size: 20px;
        margin: 0;
        color: var(--text-shadow);
      }

      .tooltip {
        position: absolute;
        opacity: 0;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        background-color: var(--text-shadow);
        font-size: 16px;
        transform: translateY(-25px);
        transition:
          transform 0.3s ease,
          opacity 0.3s ease;
      }

      h3 {
        margin: 0;
        font-size: 35px;
        color: var(--color-primary);
      }
    }
  }
</style>
