---
import ButtonReload from "./ButtonReload.astro";
---

<section id="results">
  <canvas id="chart"></canvas>

  <article class="information">
    <div>
      <h2>WPM</h2>
      <h3 class="wpm"></h3>
    </div>

    <div>
      <h2>Precisión</h2>
      <h3 class="currancy"></h3>
    </div>

    <div>
      <h2>Tiempo</h2>
      <h3 class="time"></h3>
    </div>

    <ButtonReload />
  </article>
</section>

<style>
  #results {
    display: none;
    place-content: center;
    gap: 20px;
    min-height: 90vh;
    padding: 20px;

    .information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media (width < 500px) {
        justify-content: center;
        gap: 20px 50px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h2 {
        font-size: 20px;
        margin: 0;
        color: var(--text-shadow);
      }

      h3 {
        margin: 0;
        font-size: 35px;
        color: var(--color-primary);
      }
    }
  }
</style>
